.Titles{
    padding: 20px;
    text-align: center;
}
.Titles P{
    color: burlywood;
    font-size: large;
    text-decoration: none;
}
.healthimg{
    text-align: center;
}
.yogaimg{
    text-align: center;
}