.Titles{
    padding: 20px;
    text-align: center;
}
.healthimg{
    text-align: center;
}
.yogaimg{
    text-align: center;
}
.registrationform{
    text-align: center;
}
.container img{
    border:4px solid yellow;
    border-radius: 15px;
}
.container{
    font-size: 20px;
    
}
.Titles h1{
    font-style:oblique;
    background-color:rgb(97, 182, 115);
    color:crimson;
}
.box {
    float: left;
    height: 300px;
    width: 620px;
    margin: 10px;
    padding: 15px;
}
.img{
    background-color: rgb(196, 172, 113);
}